<div id="<%= dom_id taboo_word %>">
  <p>
    <strong>Main word:</strong>
    <%= taboo_word.main_word %>
  </p>

  <p>
    <strong>Secondary word1:</strong>
    <%= taboo_word.secondary_word1 %>
  </p>

  <p>
    <strong>Secondary word2:</strong>
    <%= taboo_word.secondary_word2 %>
  </p>

  <p>
    <strong>Secondary word3:</strong>
    <%= taboo_word.secondary_word3 %>
  </p>

  <p>
    <strong>Secondary word4:</strong>
    <%= taboo_word.secondary_word4 %>
  </p>

  <p>
    <strong>Secondary word5:</strong>
    <%= taboo_word.secondary_word5 %>
  </p>

</div>
